.main__header{
    width: 100vw;
    height: 100vh;
    margin-top: 3rem;
    display: grid;
    place-items: center;
}
.main__header-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}